Flask==3.0.2
Werkzeug==3.0.1
pypdf==4.1.0
pdf2docx==0.5.8
img2pdf==0.5.1
openpyxl==3.1.2
reportlab==4.1.0
PyMuPDF==1.24.1
pytesseract==0.3.10
opencv-python-headless==4.9.0.80
pillow==10.2.0
numpy==1.26.4
gunicorn==21.2.0
